@font-face {
    font-family: 'entyporegular';
    src: url('../webfonts/entypo/entypo.eot');
    src: url('../webfonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/entypo/entypo.woff') format('woff'),
         url('../webfonts/entypo/entypo.ttf') format('truetype'),
         url('../webfonts/entypo/entypo.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.entypo {
    font-family: entyporegular;
}

/* Rules For All Icons*/

.icon-phone, .icon-mobile, .icon-mouse, .icon-address, .icon-mail, .icon-paper-plane, .icon-pencil, .icon-feather,
.icon-attach, .icon-inbox, .icon-reply, .icon-reply-all, .icon-forward, .icon-user, .icon-users, .icon-add-user,
.icon-vcard, .icon-export, .icon-location, .icon-map, .icon-compass, .icon-direction, .icon-hair-cross, .icon-share,
.icon-shareable, .icon-heart, .icon-heart-empty, .icon-star, .icon-star-empty, .icon-thumbs-up, .icon-thumbs-down,
.icon-chat, .icon-comment, .icon-quote, .icon-home, .icon-popup, .icon-search, .icon-flashlight, .icon-print,
.icon-bell, .icon-link, .icon-flag, .icon-cog, .icon-tools, .icon-trophy, .icon-tag, .icon-camera, .icon-megaphone,
.icon-moon, .icon-palette, .icon-leaf, .icon-note, .icon-beamed-note, .icon-new, .icon-graduation-cap, .icon-book,
.icon-newspaper, .icon-bag, .icon-airplane, .icon-lifebuoy, .icon-eye, .icon-clock, .icon-mic, .icon-calendar,
.icon-flash, .icon-thunder-cloud, .icon-droplet, .icon-cd, .icon-briefcase, .icon-air, .icon-hourglass, .icon-gauge,
.icon-language, .icon-network, .icon-key, .icon-battery, .icon-bucket, .icon-magnet, .icon-drive, .icon-cup,
.icon-rocket, .icon-brush, .icon-suitcase, .icon-traffic-cone, .icon-globe, .icon-keyboard, .icon-browser,
.icon-publish, .icon-progress-3, .icon-progress-2, .icon-progress-1, .icon-progress-0, .icon-light-down,
.icon-light-up, .icon-adjust, .icon-code, .icon-monitor, .icon-infinity, .icon-light-bulb, .icon-credit-card,
.icon-database, .icon-voicemail, .icon-clipboard, .icon-cart, .icon-box, .icon-ticket, .icon-rss, .icon-signal,
.icon-thermometer, .icon-water, .icon-sweden, .icon-line-graph, .icon-pie-chart, .icon-bar-graph, .icon-area-graph,
.icon-lock, .icon-lock-open, .icon-logout, .icon-login, .icon-check, .icon-cross, .icon-squared-minus, .icon-squared-plus,
.icon-squared-cross, .icon-circled-minus, .icon-circled-plus, .icon-circled-cross, .icon-minus, .icon-plus, .icon-erase,
.icon-block, .icon-info, .icon-circled-info, .icon-help, .icon-circled-help, .icon-warning, .icon-cycle, .icon-cw,
.icon-ccw, .icon-shuffle, .icon-back, .icon-level-down, .icon-retweet, .icon-loop, .icon-back-in-time, .icon-level-up,
.icon-switch, .icon-numbered-list, .icon-add-to-list, .icon-layout, .icon-list, .icon-text-doc, .icon-text-doc-inverted,
.icon-doc, .icon-docs, .icon-landscape-doc, .icon-picture, .icon-video, .icon-music, .icon-folder, .icon-archive,
.icon-trash, .icon-upload, .icon-download, .icon-save, .icon-install, .icon-cloud, .icon-upload-cloud, .icon-bookmark,
.icon-bookmarks, .icon-open-book, .icon-play, .icon-paus, .icon-record, .icon-stop, .icon-ff, .icon-fb, .icon-to-start,
.icon-to-end, .icon-resize-full, .icon-resize-small, .icon-volume, .icon-sound, .icon-mute, .icon-flow-cascade,
.icon-flow-branch, .icon-flow-tree, .icon-flow-line, .icon-flow-parallel, .icon-left-bold, .icon-down-bold, .icon-up-bold,
.icon-right-bold, .icon-left, .icon-down, .icon-up, .icon-right, .icon-circled-left, .icon-circled-down, .icon-circled-up,
.icon-circled-right, .icon-triangle-left, .icon-triangle-down, .icon-triangle-up, .icon-triangle-right, .icon-chevron-left,
.icon-chevron-down, .icon-chevron-up, .icon-chevron-right, .icon-chevron-small-left, .icon-chevron-small-down, .icon-chevron-small-up,
.icon-chevron-small-right, .icon-chevron-thin-left, .icon-chevron-thin-down, .icon-chevron-thin-up, .icon-chevron-thin-right,
.icon-left-thin, .icon-down-thin, .icon-up-thin, .icon-right-thin, .icon-arrow-combo, .icon-three-dots, .icon-two-dots, .icon-dot,
.icon-cc, .icon-cc-by, .icon-cc-nc, .icon-cc-nc-eu, .icon-cc-nc-jp, .icon-cc-sa, .icon-cc-nd, .icon-cc-pd, .icon-cc-zero,
.icon-cc-share, .icon-cc-remix, .icon-db-logo, .icon-db-shape {
    background:none;
    font-family: entyporegular;
    vertical-align:middle;
    font-style: normal;
    font-weight: normal;
    line-height: 0.5em;
    font-size: 2em;
    margin-bottom: .2em;
    text-align: center;
    width: .6em;
    height: .45em;
  }
.icon-phone:after{content: '\1F4DE';}
.icon-mobile:after{content: '\1F4F1';}
.icon-mouse:after{content: '\E789';}
.icon-address:after{content: '\E723';}
.icon-mail:after{content: '\2709';}
.icon-paper-plane:after{content: '\1F53F';}
.icon-pencil:after{content: '\270E';}
.icon-feather:after{content: '\2712';}
.icon-attach:after{content: '\1F4CE';}
.icon-inbox:after{content: '\E777';}
.icon-reply:after{content: '\E712';}
.icon-reply-all:after{content: '\E713';}
.icon-forward:after{content: '\27A6';}
.icon-user:after{content: '\1F464';}
.icon-users:after{content: '\1F465';}
.icon-add-user:after{content: '\E700';}
.icon-vcard:after{content: '\E722';}
.icon-export:after{content: '\E715';}
.icon-location:after{content: '\E724';}
.icon-map:after{content: '\E727';}
.icon-compass:after{content: '\E728';}
.icon-direction:after{content: '\27A2';}
.icon-hair-cross:after{content: '\1F3AF';}
.icon-share:after{content: '\E73C';}
.icon-shareable:after{content: '\E73E';}
.icon-heart:after{content: '\2665';}
.icon-heart-empty:after{content: '\2661';}
.icon-star:after{content: '\2605';}
.icon-star-empty:after{content: '\2606';}
.icon-thumbs-up:after{content: '\1F44D';}
.icon-thumbs-down:after{content: '\1F44E';}
.icon-chat:after{content: '\E720';}
.icon-comment:after{content: '\E718';}
.icon-quote:after{content: '\275E';}
.icon-home:after{content: '\2302';}
.icon-popup:after{content: '\E74C';}
.icon-search:after{content: '\1F50D';}
.icon-flashlight:after{content: '\1F526';}
.icon-print:after{content: '\E716';}
.icon-bell:after{content: '\1F514';}
.icon-link:after{content: '\1F517';}
.icon-flag:after{content: '\2691';}
.icon-cog:after{content: '\2699';}
.icon-tools:after{content: '\2692';}
.icon-trophy:after{content: '\1F3C6';}
.icon-tag:after{content: '\E70C';}
.icon-camera:after{content: '\1F4F7';}
.icon-megaphone:after{content: '\1F4E3';}
.icon-moon:after{content: '\263D';}
.icon-palette:after{content: '\1F3A8';}
.icon-leaf:after{content: '\1F342';}
.icon-note:after{content: '\266A';}
.icon-beamed-note:after{content: '\266B';}
.icon-new:after{content: '\1F4A5';}
.icon-graduation-cap:after{content: '\1F393';}
.icon-book:after{content: '\1F4D5';}
.icon-newspaper:after{content: '\1F4F0';}
.icon-bag:after{content: '\1F45C';}
.icon-airplane:after{content: '\2708';}
.icon-lifebuoy:after{content: '\E788';}
.icon-eye:after{content: '\E70A';}
.icon-clock:after{content: '\1F554';}
.icon-mic:after{content: '\1F3A4';}
.icon-calendar:after{content: '\1F4C5';}
.icon-flash:after{content: '\26A1';}
.icon-thunder-cloud:after{content: '\26C8';}
.icon-droplet:after{content: '\1F4A7';}
.icon-cd:after{content: '\1F4BF';}
.icon-briefcase:after{content: '\1F4BC';}
.icon-air:after{content: '\1F4A8';}
.icon-hourglass:after{content: '\23F3';}
.icon-gauge:after{content: '\1F6C7';}
.icon-language:after{content: '\1F394';}
.icon-network:after{content: '\E776';}
.icon-key:after{content: '\1F511';}
.icon-battery:after{content: '\1F50B';}
.icon-bucket:after{content: '\1F4FE';}
.icon-magnet:after{content: '\E7A1';}
.icon-drive:after{content: '\1F4FD';}
.icon-cup:after{content: '\2615';}
.icon-rocket:after{content: '\1F680';}
.icon-brush:after{content: '\E79A';}
.icon-suitcase:after{content: '\1F6C6';}
.icon-traffic-cone:after{content: '\1F6C8';}
.icon-globe:after{content: '\1F30E';}
.icon-keyboard:after{content: '\2328';}
.icon-browser:after{content: '\E74E';}
.icon-publish:after{content: '\E74D';}
.icon-progress-3:after{content: '\E76B';}
.icon-progress-2:after{content: '\E76A';}
.icon-progress-1:after{content: '\E769';}
.icon-progress-0:after{content: '\E768';}
.icon-light-down:after{content: '\1F505';}
.icon-light-up:after{content: '\1F506';}
.icon-adjust:after{content: '\25D1';}
.icon-code:after{content: '\E714';}
.icon-monitor:after{content: '\1F4BB';}
.icon-infinity:after{content: '\221E';}
.icon-light-bulb:after{content: '\1F4A1';}
.icon-credit-card:after{content: '\1F4B3';}
.icon-database:after{content: '\1F4F8';}
.icon-voicemail:after{content: '\2707';}
.icon-clipboard:after{content: '\1F4CB';}
.icon-cart:after{content: '\E73D';}
.icon-box:after{content: '\1F4E6';}
.icon-ticket:after{content: '\1F3AB';}
.icon-rss:after{content: '\E73A';}
.icon-signal:after{content: '\1F4F6';}
.icon-thermometer:after{content: '\1F4FF';}
.icon-water:after{content: '\1F4A6';}
.icon-sweden:after{content: '\F601';}
.icon-line-graph:after{content: '\1F4C8';}
.icon-pie-chart:after{content: '\25F4';}
.icon-bar-graph:after{content: '\1F4CA';}
.icon-area-graph:after{content: '\1F53E';}
.icon-lock:after{content: '\1F512';}
.icon-lock-open:after{content: '\1F513';}
.icon-logout:after{content: '\E741';}
.icon-login:after{content: '\E740';}
.icon-check:after{content: '\2713';}
.icon-cross:after{content: '\274C';}
.icon-squared-minus:after{content: '\229F';}
.icon-squared-plus:after{content: '\229E';}
.icon-squared-cross:after{content: '\274E';}
.icon-circled-minus:after{content: '\2296';}
.icon-circled-plus:after{content: '\2295';}
.icon-circled-cross:after{content: '\2716';}
.icon-minus:after{content: '\2796';}
.icon-plus:after{content: '\2795';}
.icon-erase:after{content: '\232B';}
.icon-block:after{content: '\1F6AB';}
.icon-info:after{content: '\2139';}
.icon-circled-info:after{content: '\E705';}
.icon-help:after{content: '\2753';}
.icon-circled-help:after{content: '\E704';}
.icon-warning:after{content: '\26A0';}
.icon-cycle:after{content: '\1F504';}
.icon-cw:after{content: '\27F3';}
.icon-ccw:after{content: '\27F2';}
.icon-shuffle:after{content: '\1F500';}
.icon-back:after{content: '\1F519';}
.icon-level-down:after{content: '\21B3';}
.icon-retweet:after{content: '\E717';}
.icon-loop:after{content: '\1F501';}
.icon-back-in-time:after{content: '\E771';}
.icon-level-up:after{content: '\21B0';}
.icon-switch:after{content: '\21C6';}
.icon-numbered-list:after{content: '\E005';}
.icon-add-to-list:after{content: '\E003';}
.icon-layout:after{content: '\268F';}
.icon-list:after{content: '\2630';}
.icon-text-doc:after{content: '\1F4C4';}
.icon-text-doc-inverted:after{content: '\E731';}
.icon-doc:after{content: '\E730';}
.icon-docs:after{content: '\E736';}
.icon-landscape-doc:after{content: '\E737';}
.icon-picture:after{content: '\1F304';}
.icon-video:after{content: '\1F3AC';}
.icon-music:after{content: '\1F3B5';}
.icon-folder:after{content: '\1F4C1';}
.icon-archive:after{content: '\E800';}
.icon-trash:after{content: '\E729';}
.icon-upload:after{content: '\1F4E4';}
.icon-download:after{content: '\1F4E5';}
.icon-save:after{content: '\1F4BE';}
.icon-install:after{content: '\E778';}
.icon-cloud:after{content: '\2601';}
.icon-upload-cloud:after{content: '\E711';}
.icon-bookmark:after{content: '\1F516';}
.icon-bookmarks:after{content: '\1F4D1';}
.icon-open-book:after{content: '\1F4D6';}
.icon-play:after{content: '\25B6';}
.icon-paus:after{content: '\2016';}
.icon-record:after{content: '\25CF';}
.icon-stop:after{content: '\25A0';}
.icon-ff:after{content: '\23E9';}
.icon-fb:after{content: '\23EA';}
.icon-to-start:after{content: '\23EE';}
.icon-to-end:after{content: '\23ED';}
.icon-resize-full:after{content: '\E744';}
.icon-resize-small:after{content: '\E746';}
.icon-volume:after{content: '\23F7';}
.icon-sound:after{content: '\1F50A';}
.icon-mute:after{content: '\1F507';}
.icon-flow-cascade:after{content: '\1F568';}
.icon-flow-branch:after{content: '\1F569';}
.icon-flow-tree:after{content: '\1F56A';}
.icon-flow-line:after{content: '\1F56B';}
.icon-flow-parallel:after{content: '\1F56C';}
.icon-left-bold:after{content: '\E4AD';}
.icon-down-bold:after{content: '\E4B0';}
.icon-up-bold:after{content: '\E4AF';}
.icon-right-bold:after{content: '\E4AE';}
.icon-left:after{content: '\2B05';}
.icon-down:after{content: '\2B07';}
.icon-up:after{content: '\2B06';}
.icon-right:after{content: '\27A1';}
.icon-circled-left:after{content: '\E759';}
.icon-circled-down:after{content: '\E758';}
.icon-circled-up:after{content: '\E75B';}
.icon-circled-right:after{content: '\E75A';}
.icon-triangle-left:after{content: '\25C2';}
.icon-triangle-down:after{content: '\25BE';}
.icon-triangle-up:after{content: '\25B4';}
.icon-triangle-right:after{content: '\25B8';}
.icon-chevron-left:after{content: '\E75D';}
.icon-chevron-down:after{content: '\E75C';}
.icon-chevron-up:after{content: '\E75F';}
.icon-chevron-right:after{content: '\E75E';}
.icon-chevron-small-left:after{content: '\E761';}
.icon-chevron-small-down:after{content: '\E760';}
.icon-chevron-small-up:after{content: '\E763';}
.icon-chevron-small-right:after{content: '\E762';}
.icon-chevron-thin-left:after{content: '\E765';}
.icon-chevron-thin-down:after{content: '\E764';}
.icon-chevron-thin-up:after{content: '\E767';}
.icon-chevron-thin-right:after{content: '\E766';}
.icon-left-thin:after{content: '\2190';}
.icon-down-thin:after{content: '\2193';}
.icon-up-thin:after{content: '\2191';}
.icon-right-thin:after{content: '\2192';}
.icon-arrow-combo:after{content: '\E74F';}
.icon-three-dots:after{content: '\23F6';}
.icon-two-dots:after{content: '\23F5';}
.icon-dot:after{content: '\23F4';}
.icon-cc:after{content: '\1F545';}
.icon-cc-by:after{content: '\1F546';}
.icon-cc-nc:after{content: '\1F547';}
.icon-cc-nc-eu:after{content: '\1F548';}
.icon-cc-nc-jp:after{content: '\1F549';}
.icon-cc-sa:after{content: '\1F54A';}
.icon-cc-nd:after{content: '\1F54B';}
.icon-cc-pd:after{content: '\1F54C';}
.icon-cc-zero:after{content: '\1F54D';}
.icon-cc-share:after{content: '\1F54E';}
.icon-cc-remix:after{content: '\1F54F';}
.icon-db-logo:after{content: '\1F5F9';}
.icon-db-shape:after{content: '\1F5FA';}

/* ENTYPO SOCIAL*/

@font-face {
    font-family: 'entypo-social';
    src: url('../webfonts/entypo-social/entypo-social.eot');
    src: url('../webfonts/entypo-social/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/entypo-social/entypo-social.woff') format('woff'),
         url('../webfonts/entypo-social/entypo-social.ttf') format('truetype'),
         url('../webfonts/entypo-social/entypo-social.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon-facebook, .icon-twitter, .icon-github{
    background:none;
    font-family: entypo-social;
    vertical-align:middle;
    font-style: normal;
    font-weight: normal;
    line-height: 0.5em;
    font-size: 2em;
    margin-bottom: .2em;
    text-align: center;
    width: .6em;
    height: .45em;
  }
  
  
  /* Icons */
.icon-facebook:after{
     content: '\F30C';
}

.icon-twitter:after{
     content: '\F309';
}

.icon-github:after{
     content: '\F300';
}
