@charset "utf-8";
body {
    padding: 0;
    padding-bottom: 40px;
    font-size:16px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}

/**
 * Megamenu
 */

.overlayBaselayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}


/**
 * TABBAR Styles
 **/

.tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    height: 49px;
    z-index: 100;
}
.tabbar.tabbar-badges {
    background: none;
    z-index: 200;
}
.tabbar-inner {
    width: 320px;
    margin: auto;
}

 .tabbar-tab {
    color: #ccc;
    display: block;
    float: left;
    height: 49px;
    padding: 0;
    font-size: 12px;
    text-align: center;
}

.tabbar-tab.active{
    color: #11aef7;
    background-color: #444;
}

.tabbar-inner div{
    width: 80px;
}

.tabbar-inner.tabs-5 div{
    width: 62px;
}

.tab-icon {
    font-size: 2em;
    line-height: 1.2em;
    vertical-align: bottom;
}

.badge-1 {
    background: url(../img/badge-1.png) 32px 0 no-repeat;
}

.badge-2 {
    background: url(../img/badge-2.png) 32px 0 no-repeat;
}

/*--------------------*/

/**
 * Stacks
 */

ul.stacks {
    margin: 0;
}
ul.stacks li{
    padding-right: 24px;
    padding-left: 12px;
    background: url("../img/next.png") no-repeat scroll right center transparent;
    display: block;
    text-decoration: none;
    overflow: auto;
    min-height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #cccccc;

}
ul.stacks li:first-child{
    border-top: 1px solid #cccccc;
}

ul.stacks li a {
    display: block;
    font-size: 16px;
}

.teaserRow a.teaser, .teaser, .pileMore{
    background: url("../img/next.png") no-repeat scroll right center transparent;
}

.teaserRow a, .teaser{
    display: block;
    overflow: auto;
    padding-right: 24px;
    text-decoration: none;
}
.teaserRow {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #fff;
    display: block;
    text-decoration: none;
    overflow: auto;
    padding: 4px 0 24px 8px;
background: rgb(244,244,244),;
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 22%, rgba(231,232,233,1) 100%, rgba(208,211,212,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(244,244,244,1)), color-stop(100%,rgba(231,232,233,1)), color-stop(100%,rgba(208,211,212,1)));
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 22%,rgba(231,232,233,1) 100%,rgba(208,211,212,1) 100%);
background: -o-linear-gradient(top,  rgba(244,244,244,1) 22%,rgba(231,232,233,1) 100%,rgba(208,211,212,1) 100%);
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 22%,rgba(231,232,233,1) 100%,rgba(208,211,212,1) 100%);
background: linear-gradient(to bottom,  rgba(244,244,244,1) 22%,rgba(231,232,233,1) 100%,rgba(208,211,212,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d0d3d4',GradientType=0 );


}

.teaserRow:first-child {
    border-top: 1px solid #ccc;
}

.tableRowTeaser, .nav-wedge li a {
    background: url("../img/next.png") no-repeat scroll right center transparent;

}

.nav-wedge > .active > a, .nav-wedge > .active > a:hover {
    background:  url("../img/next-white.png") no-repeat scroll right center transparent;
    background-color: #0088CC;
    color: #fff;

}


.clear {
    clear: both;
}


.pile200, .pile160, .pile180, .pile100, .pile120, .pile140, .pile80, .pile60, .pile40 {
    float: left;
    margin-right: 8px;
    text-align: center;
}

.pile200 {
    width: 200px;
}

.pile180 {
    width: 180px;
}

.pile160 {
    width: 160px;
}

.pile140 {
    width: 140px;
}

.pile120 {
    width: 120px;
}

.pile100 {
    width: 100px;
}

.pile80 {
    width: 80px;
}

.pile60 {
    width: 60px;
}

.pile40 {
    width: 40px;
}

.pileMore {
    width: 32px;
    float: right;
    margin-left: 4px;
    text-align: center;
    vertical-align: middle;
    padding-top:30px;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.hidden, .navbar .nav.hidden {
    display: none;
}

.btn-height {
    line-height: 28px;
}

/* Fixing Bootstrap */
tr.alert, td.alert {
    color: #333;
}

td.success {
    background-color: #DFF0D8;
}
td.alert {
    background-color: #FCF8E3;
}
td.error {
    background-color: #F2DEDE;
}

span.btn-group {
    font-size: inherit;
}

.btn-huge{padding:9px 14px;font-size: 28px;line-height:normal;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
.btn-huge [class^="icon-"]{margin-top:2px;}
 .btn-huge i{
    font-size: 84px;
 }

/*Toogle*/
.btn-toggle input {
    display: none;
}
​
span.btn-group.btn-inline {
    bottom:4px;
}

.accordion-toggle, a:focus {
    outline:  none;
}

.accordion-inner {
    border-top: 0;
    padding: 9px 15px;
}

.accordeon-wedge .accordion-heading{
    background: url("../img/down.png") no-repeat scroll right center transparent;
}

.accordeon-wedge .accordion-heading.accordion-up{
    background: url("../img/down.png") no-repeat scroll right center transparent;
}

ul.nav.nav-tabs li a, .teaser li a{
    font-size: 15px;
}

a span.success {
    color: #009900;
    font-size: 24px;
}

/* navpills */
.nav-pills li .divider {
    color: #CCCCCC;
    padding: 0 5px;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 2px;
}
.nav-pills li.active {
    line-height: 32px;
    vertical-align: middle;
    color: #999999;
    padding: 0 12px;
}


/* breadcrumb */

.breadcrumb {
    background-color: transparent;
}

#breadcrumbwrapper {
    margin: 12px 0;
    overflow: hidden;
    width: 100%;
    height: 44px;
}

.scroller.breadcrumb {
    height:44px;
    padding:0;
    list-style:none;
    margin:0;
    text-align:left;
}

.scroller.breadcrumb li {
    display:inline-block;
    vertical-align:middle;
    float:left;
    height: 44px;
    line-height: 44px;
}
.scroller.breadcrumb li:last-child {
    padding-right: 12px;
}

.affix {
    width: inherit;
}

/* Icons for ALerts */

.alert-success:before, .alert-error:before, .alert-info:before, .alert-open:before, .alert-warning:before{
    font-family: entyporegular;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    display: inline-block;
    margin-bottom: 27px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.alert-success:before {
    content: '\2713';
    margin-top: 0;
}
.alert-error:before{
    content: '\274C';
}
.alert-info:before{
    content: '\E705';
}
.alert-open:before{
    content: '\E704';
}
.alert-warning:before {
    content: '\26A0';
}

.alert-plain {
    margin-bottom: 0;
}
.alert-multiline.alert-success:before,
.alert-multiline.alert-error:before,
.alert-multiline.alert-info:before ,
.alert-multiline.alert-open:before,
.alert-multiline.alert-open:before{
    margin-bottom: 80px;
}

.alert-plain.alert-success:before,
.alert-plain.alert-error:before,
.alert-plain.alert-info:before ,
.alert-plain.alert-open:before,
.alert-warning.alert-open:before
{
    margin: 0;
    float: none;
}

.alert ul {
    margin: 6px 0 10px 60px;
    padding: 0;
}



/* ERROR Hints for Forms */
.control-group.error   .help-inline{
    margin-bottom: 0.5em;
}
.control-group.error   .help-inline:before {
    background:none;
    font-family: entyporegular;
    vertical-align:bottom;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2em;
    padding-right: .2em;
    content: '\26A0';
}
.control-group.success   .help-inline:before {
    background:none;
    font-family: entyporegular;
    vertical-align: bottom;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    padding-right: .2em;
    content: '\2713';
}


/* multistep */
.multistep li a h2, .multistep li a h2 i{
    vertical-align: middle;
}

/* Typeahead Hits*/
.typeahead-hits {
    padding: 4px 15px 4px 15px;
    text-align: right;
    font-weight: bold;
}


/* Phone */
@media screen and (max-device-width : 320px){
 h1 {
    font-size: 28px;
 }
}

/* Portrait */
@media screen and (orientation:portrait) {
    .visible-landscape {
        display: none;
    }
    .visible-portrait{
        display: block;
    }
}

/* Landscape */
@media screen and (orientation:landscape) and (max-device-width : 480px){
    .visible-landscape {
        display: block;
    }
    .visible-portrait{
        display: none;
    }
    /* Landscape styles */
    .tabbar {
        position: fixed;
        left: 219px;
        top: 120px;
        -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);

    }
    body {
        margin-right: 49px;
    }


}
/* Print Styles*/
@media print {
    aside, hide-on-print { display:none; }
    
    .accordion-heading .accordion-toggle {
        font-weight: bold;
        padding: 0;
        border: 0;
    }
    .accordion-body.collapse {
        height: auto;
    }
    
    .accordion-group {
        border: 0;
    }
    
}

/* helper classes for the snipets demo */
.outline {
    outline: 1px solid #ddd;
}

